<div class="whole">
  <div class="form">
    <h2 class="subject">かんじゃカード<i class="far fa-address-card"></i> 新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name, 'お名前（ニックネーム 10文字以内）*　　　    *マークは必須です'%><br />
        <%= f.text_field :name, autofocus: true, size: '20', maxlength: "10" %>
      </div>

      <div class="field-age">
        <div class="field-age1">
          <%= f.label :age, '年齢 *' %><br />
          <%= f.number_field :age, min: '1', maxlength: "3" %>
        </div>
        <div class="field-age2">
          <%= f.label :privacy, ' 年齢非公開' %>
          <%= f.check_box :privacy, value: "1" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :sex, '性別 *'%><br />
        <%= f.select :sex, [["女性", "女性"], ["男性", "男性"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :email, 'Eメール *' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: '30' %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード *' %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", minlength: "6" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, 'パスワードの確認 *' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :disease, '潰瘍性大腸炎 or クローン病 *' %><br />
        <%= f.select :disease, [["潰瘍性大腸炎", "潰瘍性大腸炎"], ["クローン病", "クローン病"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :history, '病歴（年）*' %><br />
        <%= f.number_field :history, min:'0' %>
      </div>

      <div class="field">
        <%= f.label :status, '現在の状態 *' %><br />
        <%= f.select :status, [["発症", "発症"], ["寛解", "寛解"], ["再燃", "再燃"]], include_blank: "選択して下さい" %>
      </div>

      <div class="field">
        <%= f.label :sns, 'SNSリンク (twitter, instagram, facebook, youtube）' %><br />
        <%= f.text_field :sns, autofocus: true, size: '30'  %>
      </div>

      <div class="field">
        <%= f.label :word, 'ひとこと（16文字以内）' %><br />
        <%= f.text_field :word, autofocus: true, size: '30', placeholder: '例）よろしく〜！', maxlength: "16" %>
      </div>

      <div class="field">
        <%= f.label :image, 'プロフィール写真' %><br />
        <%= f.file_field :image, autofocus: true  %>
        <label for="user_image" >
        　<i class="fas fa-camera"></i><input type="file" size="16" id="user_image">
        </label>
      </div>

      <div class="actions">
        <%= f.submit "登録", class:'sign-btn' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
