<%= render partial: "layouts/header" %>
<section class="section">
  <div class="comments-list">
    <div class="above-field">
      <div class="main-post">
        <div class="main-post-top">
          <div class="main-post-user">
            <%= @post.created_at.strftime("%Y年%m月%d日 %H:%M")%> 
            <%= link_to @post.user.name, user_path(@post.user.id), method: :get %> 
            <%= @post.user.disease %> 病歴:<%= @post.user.history %>年
          </div>
          <% if @post.user.image.present? %>
            <%= image_tag @post.user.image_url, size: '50x50', class: "post-image" %>
          <% else %>
            <i class="fas fa-user-circle"></i>
          <% end %>
          <div class="comment-num">
            <% if user_signed_in? && current_user.id == @post.user_id %>
            <%= link_to '編集', edit_post_path(@post.id), method: :get %>
            <% end %>
            <i class="fas fa-comment-alt"></i> <%= @comment_num %>
          </div>
        </div>
        <div class="main-post-content">
          <i class="fas fa-comment"></i> <%= @post.text %> 
        </div>
      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <div class="comment-top">
              <div class="comment-user">
                <%= comment.created_at.strftime("%Y年%m月%d日 %H:%M")%> 
                <%= link_to comment.user.name, user_path(comment.user.id), method: :get %>
                <%= comment.user.disease %> 病歴:<%= comment.user.history %>年
              </div>
              <%= image_tag comment.user.image_url, size: '50x50', class: "comment-image" %>
            </div>
            <div class="comment-content">
              <i class="fas fa-comment"></i>  <%= comment.text %>
            </div>
          </div>             
        <% end %>
      <% end %>
    </div>
    <div class="comments-footer">
      <%= form_with model: [@post, @comment], local: true, id: "new_comment" do |f| %>
        <%= f.text_area :text, class: 'comment-input', placeholder: "コメントを入力してください" %>
        <%= f.submit "アップロード", class: 'comment-btn' %>
      <% end %>
    </div>
  </div>
</section>
<%= render partial: "layouts/footer" %>
